@model QsTech.Core.Views.Home.HomeViewModel
@{
    LayoutInfo.Theme = "PortalManagerLayout";
}
<div class="layout-channel-wrapper">
    <div class="layout-channel-sidebar">
        <div class="ui-channelnav">
        <div class="ui-channelnav-head">
                <h2 class="ui-channelnav-head-text">导航项</h2>
            </div>
             <dl class="ui-channelnav-container" >
                @foreach (var menu in this.Model.Menus)
                {
                    <dt class="ui-channelnav-item" >
                        <a class="ui-channelnav-link" href="@menu.Url" style="line-height: 32px;text-indent: 8px;color: #5893B7;font-weight: bold;">@menu.Name</a> 
                    </dt>
                     if (menu.Entries != null && menu.Entries.Count > 0)
                     {
                         <dd>
                            <ul>
                            @foreach (var subMenu in menu.Entries)
                            {
                                <li style="padding-left:10px;min-height: 28px;">
                                    <a class="ui-channelnav-link" href="@subMenu.Url">@subMenu.Name</a> 
                                </li>
                            }
                            </ul>
                            </dd>
                     }
                }
                </dl>

               @* <ul class="ui-channelnav-container">
                @foreach (var menu in this.Model.Menus)
                {
                    <li class="ui-channelnav-item">
                        <a class="ui-channelnav-link" href="@menu.Url">@menu.Name</a> 
                    </li>
                }
                </ul>*@
        </div>
    </div>
    <div class="layout-channel-main" style="float:right;">
        <div class="ui-channel-home-zone">
            @foreach (var zone in this.Model.Zones)
            {
                <div class="ui-channelzone">
                        <div class="ui-channelzone-head">
                            <span class="ui-channelzone-title">@zone.Name</span>
                            @if (@zone.MoreUrl != null)
                            {
                                <a class="ui-channelzone-more" href="@Url.Action(zone.MoreUrl.Item3, zone.MoreUrl.Item2, zone.MoreUrl.Item1, new RouteValueDictionary())">[更多]</a>
                            }
                        </div>
                        <div class="ui-channelzone-container">
                            @Html.Action(zone.Url.Item3, zone.Url.Item2, zone.Url.Item1, new RouteValueDictionary())
                        </div>
                    </div>
            }
        
        </div>
        <div class="fn-clear"></div>
    </div>
</div>
