@model QsTech.Accounts.Models.Accounts.InitPasswordModel
@{
    this.ChannelId = "Management";
    ViewBag.Title = "初始化口令";
}

<div class="rightCont">
    <div class="mt10">
        @using (Html.BeginForm())
        {
            <table style="width:100%;" class="data-detail">
                <tr>
                    <td style="text-align: right;width:88px;">
                        账 户：
                    </td>
                    <td>
                        @Model.LoginName
                        @Html.HiddenFor(m=>m.Id)
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">
                        登录密码：
                    </td>
                    <td>
                        @Html.PasswordFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">
                        确认密码：
                    </td>
                    <td>
                        @Html.PasswordFor(model => model.ConfirmPassword)
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </td>
                </tr>
            </table>
            <div class="mt_10 ml_20">
                <input type="submit" value="保存更改" class="btn btn-primary" />
                <input type="button" value="账户列表" class="btn" onclick="javascript:history.go(-1);" />
            </div>
        }
    </div>
</div>
@section AfterBody
{
@ResourceManager.Include("jqueryForm").Render()
@ResourceManager.Include("qsForm").Render()
@ResourceManager.Include("modalShow").Render()
<script type="text/javascript">
    $(function () {
        var optins = {
            success: function (result) {
                alert("初始化成功!");
//                setTimeout(function(){
//                   window.location.href="@Url.Action("List")";
//                }, 1500); 
             
            },
            tipType: 'save'
        };
        $("form").qsAjaxForm(optins); 
    });
</script>
}