@model QsTech.Accounts.Models.Profiles.ChangePasswordModel
@{
    this.LayoutInfo.Theme = "NoMenu";
    this.ChannelId = "Management";
    ViewBag.Title = "密码安全";
    ViewBag.Succeed = ViewBag.Succeed ?? false;
    ViewBag.Failed = ViewBag.Failed ?? false;
    
}
<div class="rightCont">
    <div class="mt10">
        @using (Html.BeginForm())
        {
            if (ViewBag.Succeed)
            {
                <div class="alert alert-success">
                    <strong>密码修改成功。</strong>
                </div>
            }
            if (ViewBag.Failed)
            {
                <div class="alert alert-error">
                    @Html.ValidationSummary(true)
                </div>
            }
            <table style="width:100%;" class="data-detail">
                <tr>
                    <td style="text-align: right; width:150px;">
                        原来的密码：
                    </td>
                    <td>
                        @Html.PasswordFor(model => model.OriginalPassword)
                        @Html.ValidationMessageFor(model => model.OriginalPassword)
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">
                        新的密码：
                    </td>
                    <td>
                        @Html.PasswordFor(model => model.NewPassword)
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">
                        确认新的密码：
                    </td>
                    <td>
                        @Html.PasswordFor(model => model.ConfirmationPassword)
                        @Html.ValidationMessageFor(model => model.ConfirmationPassword)
                    </td>
                </tr>
                
                <tr>
                    <td></td>
                    <td>
                        <div class="mt10">
                            <input type="submit" value="保 存" class="btn" />
                            @*&nbsp; &nbsp; <input onclick="CloseWin()" type="button" value="关 闭" class="btn" />*@
                        </div>
                    </td>
                </tr>
            </table>
        }
    </div>
</div>
<script language="javascript">

    function CloseWin() //这个不会提示是否关闭浏览器    
    {
        window.opener = null;    
        window.open("", "_self");
        window.close();
    }    
    @if (ViewBag.Succeed&&!string.IsNullOrEmpty(Model.Redirect_uri))
            {<text>
               window.location.href="@Model.Redirect_uri";
           </text> }
</script>
